---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Inicio">
  <h1>Hola, esta es mi página con Astro 🚀</h1>
  <p>Ya conecté correctamente el layout y la página.</p>
</BaseLayout>
