---
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi primera página Astro</title>
  </head>
  <body>
    <h1>Hola 👋 esta es mi primera página con Astro</h1>
    <p>Hecha desde cero y funcionando 🔥</p>
  </body>
</html>
